[connections.your_connection_name]
personal_access_token = "patXXX" # REQUIRED and should have data.records:read and schema.bases:read scopes
base_id = "appXXX" # optional
table_id = "tblXXX" # optional